.menu{
    width: 100%;
    background-color: black;
    color:white;
    text-align:center;
}
.sect{
    font-size:20px;
    text-decoration:underline;
}
ul{
    list-style-type:none;
    list-style-position: outside;
}